@use "../base/variables" as baseVars; 

//Mixins Generales
@mixin flex($direction, $j-content, $a-items){
    display: flex;
    flex-direction: $direction;
    justify-content: $j-content;
    align-items: $a-items;
}
@mixin hover-effect-a{
    color: baseVars.$color-contraste;
    transform: scale(1.1);
}

@mixin tipografia($size, $color){
    font-size: $size;
    color: $color;
}

//Mixins .navbar

//Para que no salga el dropdown fuera de la pantalla
@mixin dropdown-menu-config{
    position: absolute;     
    top: 100%;
    transform: translateX(-50%);
    min-width: 200px;
    z-index: 1000;
    padding: 1rem;
}
//Borrar estilos de bootstrap de los enlaces del dropdown
@mixin delete-style-a{
    --bs-dropdown-link-hover-bg: none;
    --bs-dropdown-link-active-color: none;
    --bs-dropdown-link-active-bg: none;
}
//Efecto hover logo, menudropdown
@mixin hover-effect-logo{
    background-color: baseVars.$color-contraste;
    opacity: 0.8;
    transform: scale(1.1);
}

//Mixins .main-container

@mixin main-title($size, $color, $margin, $padding){
    font-size:$size;
    color:$color;
    margin-top:$margin;
    padding:$padding;
}


@mixin background-image{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}