//Colores
$color-primario: #124180;
$color-secundario: #cfe2fc;
$color-contraste: #7494bc;
$color-hover: #ca6212;

//Tamaño de fuente
$font-size-base: 1rem;
$font-size-a: 1.5rem;
$font-size-titles: 2rem;

//Border
$border-radius: 0.5rem;

//Box Shadow
$box-shadow: 0 4px 8px rgba(18, 65, 128, 0.5);
$box-shadow2: 0 4px 8px rgba(203, 227, 251, 0.5);

//Padding
$padding-base: 1rem;
$padding-nav: 0.5rem 1rem;

//Margins
$margin-top: 2rem;
$margin-bottom: 2rem;

//Breakpoints
/*$breakpoints: (
    'x-small': 320px,
    'small': 576px,
    'medium': 768px,
    'large': 992px,
    'xlarge': 1200px
);*/
