@use "../base/variables" as baseVars;
@use "../utilities/mixins" as mixins;

.carousel-container{
    box-shadow: 0 8px 16px rgba(18, 65, 128, 0.5);
    .img-galeria{
        width: 40rem;
        height: 40rem;
        object-fit: cover;
        @media (max-width: 768px){
            width: 100%;
        }
    }
}


