@use "../base/variables" as baseVars;
@use "../utilities/mixins" as mixins;

.carousel-container{
    margin-bottom: 1rem;
    .img-galeria{
        width: 40rem;
        height: 40rem;
        object-fit: cover;
        border-radius: baseVars.$border-radius;
        @media (max-width: 768px){
            width: 20rem;
            height: 20rem;
        }
    }
}


