@use "../base/variables" as baseVars;
@use "../utilities/mixins" as mixins;

//Placeholder para estilos compartidos

//Index
.main-container{
    @include mixins.flex(column, center, center);
    .main-title{
        @include mixins.main-title(baseVars.$font-size-titles, map-get(baseVars.$colors, primario)/*uso del mapa*/, baseVars.$margin-top, baseVars.$padding-base);
    }
    .image-container{
        margin-top: baseVars.$margin-top;
        .present-image{
            width: 100%;
            height: auto;
        }
    }
    .image-container2{
        margin-top: baseVars.$margin-top;
        width: 90%;
        display: flex;
        flex-direction: row;
        gap: 12rem;
        padding: baseVars.$padding-base;

        .image-torno{
            width: 45%;
            height: 33rem;
            image-rendering: optimizeQuality;
            border-radius: baseVars.$border-radius;
            box-shadow:  0px 10px 20px rgba(18, 65, 128, 0.8);   
        }
        .image-articulador{
            width: 45%;
            height: 33rem;
            image-rendering: optimizeQuality;
            border-radius: baseVars.$border-radius;
            box-shadow:  0px 10px 20px rgba(18, 65, 128, 0.8);
        }
        @media(max-width: 768px){
            @include mixins.flex(column, center, center);
            gap: 3rem;
            .image-torno{
                width: 100%;
                height: auto;
            }
            .image-articulador{
                width: 100%;
                height: auto;
            }
        }
    }
    @media (max-width: 768px){
        .main-title{
            font-size: baseVars.$font-size-a;
            text-align: center;
            width: 100%;
        }
        .present-image{
            width: 100%;
            height: auto;
        }
    }

    .job-container{
        @include mixins.flex(column, center, center);
        @include mixins.tipografia(baseVars.$font-size-a, baseVars.$color-secundario);
        padding: 2rem;
        margin-top: baseVars.$margin-top;
        text-align: center;
        background-color: rgba(18,65,128,0.9);
        border-radius: baseVars.$border-radius;
        box-shadow: 0 8px 16px rgba(18,65,128,0.5);

        .service-container{
            box-shadow: baseVars.$box-shadow2;
            border-radius: baseVars.$border-radius;
            color: baseVars.$color-primario;
            text-align: center;

            padding: baseVars.$padding-base;
            width: 100%;



            background-image: url("/assets/imagenes/Servicios/dienteMetal.jpg");
            @include mixins.background-image;


            background-color: rgba(203, 227, 251, 0.8);
            background-blend-mode: overlay;
        }
        a{
            color: baseVars.$color-primario;
            &:hover{
                @include mixins.hover-effect-a;
                color: #ca6212;
            }
        }
        .job-2{
            margin-top: 2rem;
        }
        @media (max-width: 768px){
            font-size: baseVars.$font-size-base;
            padding: baseVars.$padding-base;
            width: 100%;
            .service-container{
                text-align: center;
                h2{
                    font-size: baseVars.$font-size-a;
                }
                ul{
                    font-size: baseVars.$font-size-base;
                    text-align: center;
                    padding-right: 2rem;
                }
                padding: baseVars.$padding-base;
            }
        }
    }

}


//Main services
.main-services-container{
    h2{
        @include mixins.flex(column, center, center);
        @include mixins.main-title(baseVars.$font-size-titles, baseVars.$color-primario, baseVars.$margin-top, baseVars.$padding-base);
        text-align: center;
    }
    .parrafo-fachero{
        @include mixins.tipografia(baseVars.$font-size-a, baseVars.$color-primario);
        text-align: center;
    }
    @media (max-width: 768px){
        h2{
            font-size: baseVars.$font-size-a;
        }
        .parrafo-fachero{
            font-size: baseVars.$font-size-base;
        }
    }    
}

//Main contacto
.main-contact-container{
    @include mixins.flex(column, center, center);
    h2{
        @include mixins.main-title(baseVars.$font-size-titles, map-get(baseVars.$colors, primario)/*uso del mapa*/, baseVars.$margin-top, baseVars.$padding-base);
        text-align: center;
    }
    p{
        @include mixins.tipografia(baseVars.$font-size-a, baseVars.$color-primario);
        text-align: center;
    }
    .faq{
        @include mixins.flex(column,center,center);
        width: 95%;
        padding: baseVars.$padding-base;
        gap: 1rem;
        border: 1px solid baseVars.$color-primario;
        border-radius: baseVars.$border-radius;
        margin-bottom: baseVars.$margin-bottom;
        box-shadow: baseVars.$box-shadow;
        .faq-title{
            @include mixins.tipografia(baseVars.$font-size-titles, baseVars.$color-primario);
            text-align: center;
            border-bottom: 1px solid baseVars.$color-primario;
            border-radius: baseVars.$border-radius;
            padding: baseVars.$padding-base;
            box-shadow: baseVars.$box-shadow;
            @media (max-width: 768px) {
                font-size: baseVars.$font-size-a;
            }
        }
        h3{
            @include mixins.tipografia(baseVars.$font-size-titles, baseVars.$color-primario);
            text-align: center;
            @media (max-width: 768px){
                font-size: baseVars.$font-size-a;
            }
        }
        p{
            @include mixins.tipografia(baseVars.$font-size-a, baseVars.$color-primario);
            text-align: center;
            @media (max-width: 768px){
                font-size: baseVars.$font-size-base;
            }
        }
    }
    .contact-container{
        @include mixins.flex(row, center, center);
        width: 95%;
        gap: 1rem;
        background-color: baseVars.$color-primario;
        border-radius: baseVars.$border-radius;
        padding: baseVars.$padding-base;
        iframe{
            width: 47.5%;
            height: 584.27px;
            border-radius: baseVars.$border-radius;
            box-shadow: baseVars.$box-shadow2;
        }
    }
    @media (max-width: 768px){
        h2{
            font-size: baseVars.$font-size-a;
        }
        p{
            font-size: baseVars.$font-size-base;
        }
        .contact-container{
            @include mixins.flex(column, center, center);
            .faq{
                width: 100%;
                h3{
                    font-size: 2rem;
                }
                p{
                    font-size: baseVars.$font-size-base;
                }
            }
            .formulario-contacto{
                width: 100%;
            }
            iframe{
                width: 100%;
            }
        }
    }
}

//Main galeria
.main-gallery-container{
    @include mixins.flex(column, center, center);
    h2{
        @include mixins.tipografia(baseVars.$font-size-titles, map-get(baseVars.$colors, primario)/*uso del mapa*/);
        text-align: center;

        margin-top: baseVars.$margin-top;
        @media(max-width: 768px){
            font-size: baseVars.$font-size-a;
        }
    }
    .parrafo-galeria{
        @include mixins.tipografia(baseVars.$font-size-a, baseVars.$color-primario);
        text-align: center;
        padding: baseVars.$padding-base;
        @media (max-width: 768px){
            font-size: baseVars.$font-size-base;
        }
        a{
            @include mixins.tipografia(baseVars.$font-size-a, baseVars.$color-primario);
            text-align: center;
            &:hover{
                @include mixins.hover-effect-a;
                color: #ca6212;
            }
        }
    }

    .galeria-2-container{
        @include mixins.flex(row, center, center);
        width: 100%;
        gap: 2rem;
        padding: baseVars.$padding-base;

        border-radius: baseVars.$border-radius;
        box-shadow: baseVars.$box-shadow;
        border: 1px solid baseVars.$color-primario;

        @media (max-width: 768px){
            @include mixins.flex(column, center, center);
            gap: 1rem;

            width: 100%;
        }
        figure{
            @include mixins.flex(column, center, center);

            .img-galeria-2{
                width: 35rem;
                height: 35rem;
                object-fit: cover;
                border-radius: baseVars.$border-radius;
                box-shadow: baseVars.$box-shadow;
                margin-top: baseVars.$margin-top;

                @media (max-width: 768px){
                    width: 100%;
                    height: auto;
                }
            }
            figcaption{
                @include mixins.tipografia(baseVars.$font-size-a, map-get(baseVars.$colors, primario)/*uso del mapa*/);
                text-align: center;
                margin-top: 0.5rem;
                border-bottom: 1px solid baseVars.$color-secundario;
                @media (max-width: 768px){
                    font-size: baseVars.$font-size-base;
                }
            }
            .parrafo-galeria-2{
                @include mixins.tipografia(baseVars.$font-size-base, baseVars.$color-primario);
                text-align: center;
                margin-top: 0.5rem;
                width: 30rem;
                @media (max-width: 768px){
                    font-size: baseVars.$font-size-base;
                    width: 100%;
                }
            }
        }

    }


    @media (max-width: 768px){
        @include mixins.flex(column, center, center);
    }
}

//Main sobreMí
.main-aboutm-container{
    @include mixins.flex(column, center, center);
    h2{
        @include mixins.tipografia(baseVars.$font-size-titles, baseVars.$color-primario);
        text-align: center;
        margin-top: baseVars.$margin-top;
    }
    p{
        @include mixins.tipografia(baseVars.$font-size-a, baseVars.$color-primario);
        text-align: center;
        margin-top: baseVars.$margin-top;
    }
    @media (max-width: 768px){
        h2{
            font-size: baseVars.$font-size-a;
        }
        p{
            font-size: baseVars.$font-size-base;
        }
    }
    .aboutme-container-2{
        @include mixins.flex(column, center, center);

        margin-top: baseVars.$margin-top;
        padding: baseVars.$padding-base;

        border-radius: baseVars.$border-radius;
        border: 1px solid baseVars.$color-primario;
        box-shadow: baseVars.$box-shadow;

        .artcle-aboutm{
            @include mixins.flex(row, center, center);

            @media (max-width: 768px){
                @include mixins.flex(column, center, center);
            }
            figure{
                .img-aboutm{
                    width: 35rem;
                    height: 25rem;
                    border-radius: baseVars.$border-radius;
                    box-shadow: baseVars.$box-shadow2;

                    @media (max-width: 768px){
                        width: 100%;
                        height: auto;
                    }
                }
            }
            .title-paragraph{
                @include mixins.flex(column, center, center);
                padding: baseVars.$padding-base;

                h3{
                    @include mixins.tipografia(baseVars.$font-size-titles, baseVars.$color-primario);
                    text-align: center;
                }
                p{
                    @include mixins.tipografia(baseVars.$font-size-a, baseVars.$color-primario);
                    text-align: center;
                }
                @media (max-width: 768px){
                    h3{
                        font-size: baseVars.$font-size-a;
                    }
                    p{
                        font-size: baseVars.$font-size-base;
                    }    
                }
            }
        }
        .artcle-aboutm-2{
            @include mixins.flex(row-reverse, center, center);

            border-top: 1px solid baseVars.$color-primario;
            @media (max-width: 768px){
                @include mixins.flex(column, center, center);
            }
            figure{
                .img-aboutm{
                    width: 35rem;
                    height: 25rem;
                    margin-top: 1rem;
                    border-radius: baseVars.$border-radius;
                    box-shadow: baseVars.$box-shadow2;

                    @media (max-width: 768px){
                        width: 100%;
                        height: auto;
                    }
                }
            }
            .title-paragraph{
                @include mixins.flex(column, center, center);
                padding: baseVars.$padding-base;
                h3{
                    @include mixins.tipografia(baseVars.$font-size-titles, baseVars.$color-primario);
                    text-align: center;
                }
                p{
                    @include mixins.tipografia(baseVars.$font-size-a, baseVars.$color-primario);
                    text-align: center;
                }
                @media (max-width: 768px){
                    h3{
                        font-size: baseVars.$font-size-a;
                    }
                    p{
                        font-size: baseVars.$font-size-base;
                    }    
                }
            }
        }
        .artcle-aboutm-3{
            @include mixins.flex(row, center, center);
            border-top: 1px solid baseVars.$color-primario;

            @media (max-width: 768px){
                @include mixins.flex(column, center, center);
            }
            figure{
                .img-aboutm{
                    width: 35rem;
                    height: 25rem;
                    margin-top: baseVars.$margin-top;
                    border-radius: baseVars.$border-radius;
                    box-shadow: baseVars.$box-shadow2;

                    @media (max-width: 768px){
                        width: 100%;
                        height: auto;
                    }
                }
            }
            .title-paragraph{
                @include mixins.flex(column, center, center);
                padding: baseVars.$padding-base;
                h3{
                    @include mixins.tipografia(baseVars.$font-size-titles, baseVars.$color-primario);
                    text-align: center;
                }
                p{
                    @include mixins.tipografia(baseVars.$font-size-a, baseVars.$color-primario);
                    text-align: center;
                }
                @media (max-width: 768px){
                    h3{
                        font-size: baseVars.$font-size-a;
                    }
                    p{
                        font-size: baseVars.$font-size-base;
                    }    
                }
            }
        }
    }
}


