//Referenciando el modulo de variables
@use "../base/variables" as baseVars;
@use "../utilities/mixins" as mixins;


.navbar{
    background-color: baseVars.$color-primario;
    border-radius: baseVars.$border-radius;
    padding: baseVars.$padding-base;
    @include mixins.flex(row, space-between, center);

    @media (max-width: 768px){
        @include mixins.flex(column, center, center);
    }
    h5{
        color: baseVars.$color-contraste;
        font-size: baseVars.$font-size-base;
    }
    .dropdown{
        justify-self: end;
        align-items: center;
        gap: 1rem;
        .btn-menu{
            background-color: baseVars.$color-primario;
            border-radius: baseVars.$border-radius;
            border: 1px solid baseVars.$color-secundario;
            margin: 1rem;
            padding: baseVars.$padding-base;
            &:hover{
                @include mixins.hover-effect-logo;
            }
            .menu-icon{
                width: 3rem;
                height: 4rem;
            }
        }
        .dropdown-menu{
            background-color: baseVars.$color-primario;
            border-radius: baseVars.$border-radius;
            padding: baseVars.$padding-base;
            box-shadow: baseVars.$box-shadow2;
            //Ajusta el menu al tamaño de pantalla
            @include mixins.dropdown-menu-config;
            //Eliminar background blanco
            @include mixins.delete-style-a;
            a{
                color: baseVars.$color-secundario;
                font-size: baseVars.$font-size-a;
                font-weight: 400;
                padding: 0.5rem 1rem;
                &:hover{
                    border-radius: baseVars.$border-radius;
                    color: baseVars.$color-secundario;
                    opacity: 0.8;
                }
            }
            @media (max-width: 768px){
                a{
                    font-size: baseVars.$font-size-base;
                    text-align: center;
                }
            }
            
        }
    }
}

//Media queries
