@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
}

/*$breakpoints: (
    'x-small': 320px,
    'small': 576px,
    'medium': 768px,
    'large': 992px,
    'xlarge': 1200px
);*/
.divisor-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divisor-container .divisor {
  width: 95.3vw;
  height: 11rem;
  border-radius: 0.5rem;
}

@media (max-width: 768px) {
  .divisor-container {
    margin-top: 1rem;
  }
  .divisor {
    height: 8rem;
  }
}
#preloader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #cfe2fc;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

body {
  margin: 0 2rem;
  font-family: "Roboto Serif", serif;
  font-size: 1rem;
  background-color: #cfe2fc;
}
body li {
  list-style: none;
}
body a {
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 0; /* Oculta la barra de desplazamiento */
}

body {
  -webkit-overflow-scrolling: touch; /* Mejora el desplazamiento en dispositivos táctiles */
}

.navbar {
  background-color: #124180;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.navbar h5 {
  color: #7494bc;
  font-size: 1rem;
}
.navbar .dropdown {
  justify-self: end;
  align-items: center;
  gap: 1rem;
}
.navbar .dropdown .btn-menu {
  background-color: #124180;
  border-radius: 0.5rem;
  border: 1px solid #cfe2fc;
  margin: 1rem;
  padding: 1rem;
}
.navbar .dropdown .btn-menu:hover {
  background-color: #7494bc;
  opacity: 0.8;
  transform: scale(1.1);
}
.navbar .dropdown .btn-menu .menu-icon {
  width: 3rem;
  height: 4rem;
}
.navbar .dropdown .dropdown-menu {
  background-color: #124180;
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(203, 227, 251, 0.5);
  position: absolute;
  top: 100%;
  transform: translateX(-50%);
  min-width: 200px;
  z-index: 1000;
  padding: 1rem;
  --bs-dropdown-link-hover-bg: none;
  --bs-dropdown-link-active-color: none;
  --bs-dropdown-link-active-bg: none;
}
.navbar .dropdown .dropdown-menu a {
  color: #cfe2fc;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
}
.navbar .dropdown .dropdown-menu a:hover {
  border-radius: 0.5rem;
  color: #cfe2fc;
  opacity: 0.8;
}
@media (max-width: 768px) {
  .navbar .dropdown .dropdown-menu a {
    font-size: 1rem;
    text-align: center;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container .main-title {
  font-size: 2rem;
  color: #124180;
  margin-top: 2rem;
  padding: 1rem;
}
.main-container .image-container {
  margin-top: 2rem;
}
.main-container .image-container .present-image {
  width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .main-container .main-title {
    font-size: 1.5rem;
    text-align: center;
  }
  .main-container .present-image {
    width: 100%;
    height: auto;
  }
}
.main-container .job-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #cfe2fc;
  padding: 2rem;
  margin-top: 2rem;
  text-align: center;
  background-color: rgba(18, 65, 128, 0.9);
  border-radius: 0.5rem;
  box-shadow: 0 8px 16px rgba(18, 65, 128, 0.5);
}
.main-container .job-container .service-container {
  box-shadow: 0 4px 8px rgba(203, 227, 251, 0.5);
  border-radius: 0.5rem;
  color: #124180;
  text-align: center;
  padding: 1rem;
  width: 100%;
  background-image: url("/assets/imagenes/Servicios/dienteMetal.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(203, 227, 251, 0.8);
  background-blend-mode: overlay;
}
.main-container .job-container a {
  color: #124180;
}
.main-container .job-container a:hover {
  color: #7494bc;
  transform: scale(1.1);
  color: #ca6212;
}
.main-container .job-container .job-2 {
  margin-top: 2rem;
}
@media (max-width: 768px) {
  .main-container .job-container {
    font-size: 1rem;
    padding: 1rem;
  }
  .main-container .job-container .service-container {
    text-align: center;
    padding: 1rem;
  }
  .main-container .job-container .service-container h2 {
    font-size: 1.5rem;
  }
  .main-container .job-container .service-container ul {
    font-size: 1rem;
    text-align: center;
    padding-right: 2rem;
  }
}

.main-services-container h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #124180;
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
}
.main-services-container .parrafo-fachero {
  font-size: 1.5rem;
  color: #124180;
  text-align: center;
}
@media (max-width: 768px) {
  .main-services-container h2 {
    font-size: 1.5rem;
  }
  .main-services-container .parrafo-fachero {
    font-size: 1rem;
  }
}

.main-contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-contact-container h2 {
  font-size: 2rem;
  color: #124180;
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
}
.main-contact-container p {
  font-size: 1.5rem;
  color: #124180;
  text-align: center;
}
@media (max-width: 450px) {
  .main-contact-container h2 {
    font-size: 1.5rem;
  }
  .main-contact-container p {
    font-size: 1rem;
  }
}

.main-gallery-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-gallery-container h2 {
  font-size: 2rem;
  color: #124180;
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
}

@media (max-width: 768px) {
  .main-container .main-title {
    font-size: 1.5rem;
    text-align: center;
  }
  .main-container .present-image {
    width: 100%;
    height: auto;
  }
  .main-container .job-container {
    font-size: 1rem;
  }
}
.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  gap: 1rem;
}
@media (max-width: 768px) {
  .cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: none;
  }
}
.cards-container .card {
  font-size: 1rem;
  color: #124180;
  text-align: center;
  background-color: #cfe2fc;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(18, 65, 128, 0.5);
  padding: 1rem;
}
.cards-container .card:hover {
  font-size: 1rem;
  color: #cfe2fc;
  background-color: #124180;
}
.cards-container .card:hover .card-body h5 {
  border-bottom: 1px solid #cfe2fc;
}
.cards-container .card:hover .card-body p {
  border-right: 1px solid #cfe2fc;
  border-left: 1px solid #cfe2fc;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(203, 227, 251, 0.5);
}
.cards-container .card .card-img {
  width: 100%;
  height: 11rem;
  border-radius: 0.5rem;
}
.cards-container .card .card-body h5 {
  margin-bottom: 1rem;
  border-bottom: 1px solid #124180;
  font-size: 1.5rem;
}
.cards-container .card .card-body p {
  padding: 1rem;
  border-right: 1px solid #124180;
  border-left: 1px solid #124180;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(18, 65, 128, 0.5);
}
@media (max-width: 768px) {
  .cards-container .card .card-body h5 {
    font-size: 1rem;
  }
  .cards-container .card .card-body p {
    font-size: 1rem;
  }
}

.main-contact-container .formulario-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
  margin-top: 2rem;
  background-color: #7494bc;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(18, 65, 128, 0.5);
}
.main-contact-container .formulario-contacto label {
  padding: 1rem;
  font-size: 1rem;
  color: #cfe2fc;
  background-color: #124180;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(18, 65, 128, 0.5);
}
.main-contact-container .formulario-contacto input {
  width: 100%;
  padding: 1rem;
  margin-top: 0.5rem;
  border: none;
  border-radius: 0.5rem;
}
.main-contact-container .formulario-contacto textarea {
  width: 50%;
  padding: 1rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
  resize: none;
}
.main-contact-container .formulario-contacto textarea:focus {
  outline: none;
}
@media (max-width: 768px) {
  .main-contact-container .formulario-contacto label {
    width: 100%;
    font-size: 1rem;
  }
  .main-contact-container .formulario-contacto textarea {
    width: 100%;
  }
  .main-contact-container .formulario-contacto input {
    width: 100%;
  }
}

.logo-container {
  padding: 1rem;
  margin: 1rem;
}
.logo-container .logo {
  width: 5rem;
  height: 5rem;
  border-radius: 0.5rem;
}
.logo-container .logo:hover {
  background-color: #7494bc;
  opacity: 0.8;
  transform: scale(1.1);
}

.formulario-contacto button {
  padding: 1rem;
  font-size: 1.5rem;
  color: #124180;
  background-color: #cfe2fc;
  border-radius: 0.5rem;
  border: 1px solid #cfe2fc;
}
.formulario-contacto button:hover {
  background-color: #124180;
  color: #cfe2fc;
}
@media (max-width: 768px) {
  .formulario-contacto button {
    font-size: 1rem;
    padding: 1rem;
  }
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  padding: 1rem;
  background-color: #124180;
  border-radius: 0.5rem;
  font-size: 1rem;
  color: #cfe2fc;
}
.footer-container a {
  font-size: 1.5rem;
  color: #cfe2fc;
}
.footer-container a:hover {
  color: #7494bc;
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    text-align: center;
  }
  .footer-container a {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=styles.css.map */
