@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*$breakpoints: (
    'x-small': 320px,
    'small': 576px,
    'medium': 768px,
    'large': 992px,
    'xlarge': 1200px
);*/
body {
  margin: 0 2rem;
  font-family: "Roboto Serif", serif;
  font-size: 1rem;
  background-color: #cbe3fb;
}
body li {
  list-style: none;
}
body a {
  text-decoration: none;
}

.logo-container {
  padding: 0.5rem 1rem;
  margin: 1rem;
}
.logo-container .logo {
  width: 5rem;
  height: 5rem;
  border-radius: 0.5rem;
}
.logo-container .logo:hover {
  background-color: #7494bc;
  opacity: 0.8;
  transform: scale(1.1);
}

.navbar, .navbar .dropdown .dropdown-menu {
  background-color: #124180;
  border-radius: 0.5rem;
}
.navbar h5, .navbar .dropdown .dropdown-menu h5 {
  color: #7494bc;
  font-size: 1rem;
}
.navbar .dropdown, .navbar .dropdown .dropdown-menu .dropdown {
  justify-self: end;
  align-items: center;
  gap: 1rem;
}
.navbar .dropdown .btn-menu {
  background-color: #124180;
  border-radius: 0.5rem;
  border: 1px solid #cbe3fb;
  margin: 1rem;
  padding: 0.5rem 1rem;
}
.navbar .dropdown .btn-menu:hover {
  background-color: #7494bc;
  opacity: 0.8;
  transform: scale(1.1);
}
.navbar .dropdown .btn-menu .menu-icon {
  width: 3rem;
  height: 4rem;
}
.navbar .dropdown .dropdown-menu {
  box-shadow: 0 4px 8px rgba(203, 227, 251, 0.5);
  position: absolute;
  top: 100%;
  transform: translateX(-50%);
  min-width: 200px;
  z-index: 1000;
  padding: 1rem;
  --bs-dropdown-link-hover-bg: none;
  --bs-dropdown-link-active-color: none;
  --bs-dropdown-link-active-bg: none;
}
.navbar .dropdown .dropdown-menu a {
  color: #cbe3fb;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0.5rem 1rem;
}
.navbar .dropdown .dropdown-menu a:hover {
  border-radius: 0.5rem;
  color: #cbe3fb;
  opacity: 0.8;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
}
.main-container .main-title {
  font-size: 2rem;
  color: #124180;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
}
.main-container .image-container {
  border-bottom: 3px solid #7494bc;
  border-radius: 10px;
}
.main-container .image-container .present-image {
  width: auto;
  height: auto;
}
.main-container .job-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
  font-size: 1.5rem;
  color: #333333;
  box-shadow: 0 4px 8px rgba(18, 65, 128, 0.5);
  background-image: url("/assets/imagenes/Servicios/dienteMetal.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
  box-shadow: 0 8px 16px rgba(18, 65, 128, 0.5);
  background-color: rgba(203, 227, 251, 0.5);
  background-blend-mode: overlay;
}
.main-container .job-container .main-service-container {
  background-color: rgba(203, 227, 251, 0.5);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  width: 100%;
}
.main-container .job-container a {
  color: #333333;
}
.main-container .job-container a:hover {
  color: #124180;
}
.main-container .job-container .job-2 {
  margin-top: 2rem;
}

/*# sourceMappingURL=styles.css.map */
